---
title: 'Badar Ahmed - Tech Musings'
---

<!DOCTYPE html>
<html>
<head>
  <title>{% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href='{{site.baseurl}}/reveal/reveal.css' rel='stylesheet' />
  <link href='{{site.baseurl}}/reveal/night.css' rel='stylesheet' id='theme' />
</head>
<body>
  <div class="slides">
    {{content}}
  </div>
  <script src='{{site.baseurl}}/reveal/reveal.min.js'></script>
</body>
